---
title: Main Page
layout: welcome
redirect_from:
  - /index2.html
  - /welcome.html
---

<h2>
    This website was created by... well... luk3yx.
</h2>
<h3>
    The title (at the top of the page), when clicked, will take you to this
    page, provided you are still on this website.
</h3>

<!--<h4 class="new">
    New: Lots of changes, most notably the Chirstmas card generator works again.
</h4>

<hr/>-->
<h3>
    Projects
</h3>
<p class="indent">
    <a href="lurk.html">
        Command reference for lurk (IRC, Matrix and Discord bot)
    </a>
    <br/>
    <a href="https://gitlab.com/luk3yx/minetest-formspec-editor">
        Web-based drag+drop formspec editor for Minetest
    </a>
    <br/>
    <a href="https://content.minetest.net/packages/luk3yx/prang/">
        Unofficial port of PRANG! to Minetest
    </a>
    <br/>
    <a href="cardgenerator.html">
        Birthday/Christmas card generator (requires JS)
    </a>
    <br/>
    <details>
        <summary>Unmaintained projects</summary>
        <a href="jstranslate.html">
            Translate toolbar button (Requires Javascript)
        </a>
        <br/>
        <a href="youtube-cinema.html">
            YouTube Cinema Mode Button (Requires Javascript)
        </a>
        <br/>
        <a href="fs51.html">
            A very early version of FS51 (Requires Javascript)
        </a>
        <br/>
        <a href="selectos.html">
            OS Selector (outdated)
        </a>
    </details>
</p>
<hr/>
<h3>
    Links
</h3>
<p class="indent">
    <a href="https://mozilla.org/firefox">
        Firefox download</a> and
    <a href="https://support.mozilla.org/en-US/kb/compact-mode-workaround-firefox">
        instructions to enable compact mode</a>.
    <br/>
    <a href="https://www.google.com/maps/?force=canvas">
        Is Google Maps running slow? Click here to use lite mode.
    </a>
    <br/>
    <a href="http://www.dhmo.org">
        Dihydrogen monoxide: The deadly killer.
    </a>
    <br/>
    <a href="qrgenerator.html">
        QR Code generator
    </a>
    <br/>
    <details>
        <summary>Unmaintained pages</summary>
        <a href="urlshortener.html">
            URL Shortener
        </a>
        <br/>
        <a href="pastebin.html">
            Pastebin
        </a>
    </details>
</p>
<hr/>
<h3>
    Google easter eggs
</h3>
<p class="indent">
    <a href="http://google.com/teapot">
        Error 418
    </a>
    <br/>
    <a href="http://google.com/search?q=tilt">
        Tilt the screen
    </a>
    <br/>
    <a href="http://google.com/search?q=do%20a%20barrel%20roll">
        Make the screen do a barrel roll
    </a>
</p>
<hr/>
